<!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Messages</h1>
          <!--<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>-->

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <!--<p style="float: left;">
              <a routerLink="/superadmin/client-archived" class="btn btn-warning btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-user"></i>
                </span>
                <span class="text">Archived Clinic</span>
              </a>
              </p>-->
              <!--<p style="float: right;">
              <a routerLink="/clinic/role-register" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-plus"></i>
                </span>
                <span class="text">Add New Role</span>
              </a>
              </p>-->
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                  <thead>
                    <tr>
                      <th>Subject</th>
                      <th>Message</th>
                      <th>Sender Name</th>
                      <th>Receiver Name</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <!--<tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Office</th>
                      <th>Age</th>
                      <th>Start date</th>
                      <th>Salary</th>
                    </tr>
                  </tfoot>-->
                  <tbody>
                    
                    <!--<tr>
                      <td>Administrator</td>
                      <td>We manage the admin works.</td>
                      <td><a class="btn btn-info btn-circle btn-sm">
                          <i class="fas fa-edit"></i>
                        </a>&nbsp;
                        
                          <a class="btn btn-warning btn-circle btn-sm">
                            <i class="fas fa-toggle-on"></i>
                          </a>&nbsp;
                       
                        <a class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a>
                      </td>
                    </tr>-->
                   
                    <tr *ngFor="let message of messages">
                      <td>{{message.subject}}</td>
                      <td>{{message.message}}</td>
                      <th>{{message.Sendername}}</th>
                      <th>{{message.Receivername}}</th>
                      <td>{{message.created_date | date:'yyyy-MM-dd'}}</td>           
                      <!--<td>
                        <a routerLink="/clinic/role-update/{{role.id}}" class="btn btn-info btn-circle btn-sm" title="Update Role">                        
                          <i class="fas fa-edit"></i>
                        </a>&nbsp;
                        
                          <a (click)="onUpdateStatus(role.id)" class="btn btn-info btn-circle btn-sm" title="Update Status">
                            <i class="fas fa-toggle-on"></i>
                          </a>&nbsp;
                       
                      </td>-->
                    </tr>
                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->