<!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Doctor's Claim List</h1>
          <!--<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>-->

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <!--<div class="card-header py-3">
              <p style="float: left;">
              <a routerLink="/clinic/patient-archived" class="btn btn-warning btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-user"></i>
                </span>
                <span class="text">Archived Claim</span>
              </a>
              </p>
              <p style="float: right;">
              <a routerLink="/clinic/patient-register" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-plus"></i>
                </span>
                <span class="text">Add New Claim</span>
              </a>
              </p>
            </div>-->
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Claim No</th>
                      <th>WCAB</th>
                      <th>Patient Name</th>
                      <th>Documents Status</th>
                      <th>ROR Status</th>
                      <th>Transcripts Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <!--<tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Office</th>
                      <th>Age</th>
                      <th>Start date</th>
                      <th>Salary</th>
                    </tr>
                  </tfoot>-->
                  <tbody>
                    
                    <tr>
                      <td><a class="nav-link" routerLink="/clinic/claim-detail">          
                        XYZ123</a></td>
                      <td>CASE9990</td>
                      <td>Richard Harry</td>
                      <td><a class="btn btn-info btn-sm" routerLink="/clinic/document-list">
                            <i class="fas fa-file"></i>
                          </a>&nbsp; Sent</td>
                      <td>Reviewed By Medpro</td>
                      <td>Under Review</td>
                      <td>
                        <a class="btn btn-info btn-circle btn-sm">
                          <i class="fas fa-edit"></i>
                        </a>&nbsp;
                        
                        <!--<a class="btn btn-warning btn-circle btn-sm">
                          <i class="fas fa-toggle-on"></i>
                        </a>&nbsp;-->
                       
                        <a class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                   
                    <!--<tr *ngFor="let client of clients">
                      <th>{{client.clinic_name}}</th>
                      <td>{{client.first_name}} {{client.last_name}}</td>
                      <td>
                        <a routerLink="/superadmin/client-update/{{client.id}}" class="btn btn-info btn-circle btn-sm">
                          <i class="fas fa-edit"></i>
                        </a>&nbsp;
                        
                          <a (click)="onUpdateStatus(client.id)" class="btn btn-warning btn-circle btn-sm">
                            <i class="fas fa-toggle-on"></i>
                          </a>&nbsp;
                       
                        <a (click)="onDelete(client.id)" class="btn btn-danger btn-circle btn-sm">
                          <i class="fas fa-trash"></i>
                        </a>
                      </td>
                    </tr>-->
                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->