<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Change Password</h1>
  </div>
  <!-- Content Row -->
  <div class="row">
	<div class="col-xl-12 col-md-12 mb-4">
      <div class="card shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col ">
            	<form class="" [formGroup]="changePasswordForm" (ngSubmit)="submit()" novalidate>
    				<div class="form-group">
        				<div class="input-group"> 
          					<input type="password" class="form-control" id="inputOldPassword" aria-describedby="oldPasswordHelp" placeholder="Enter Old Password..." formControlName="oldPassword" [ngClass]="{ 'is-invalid': showErrors && !changePasswordForm.controls.oldPassword.valid }">
      						<div *ngIf="showErrors && !changePasswordForm.controls.oldPassword.valid" class="invalid-feedback"> 
   								{{ attributes.oldPassword }}
							</div> 
						</div>
          			</div>
          			<div class="form-group">
        				<div class="input-group"> 
          					<input type="password" class="form-control" id="inputNewPassword" aria-describedby="newPasswordHelp" placeholder="Enter New Password..." formControlName="newPassword" [ngClass]="{ 'is-invalid': showErrors && !changePasswordForm.controls.newPassword.valid }">
      						<div *ngIf="showErrors && !changePasswordForm.controls.newPassword.valid" class="invalid-feedback"> 
   								{{ attributes.newPassword }}
							</div> 
						</div>
          			</div>
        			<div class="form-group">
        				<div class="input-group">
          					<input type="password" class="form-control" id="inputConfirmPassword" aria-describedby="confirmPasswordHelp" placeholder="Enter Confrim Password..." formControlName="confirmPassword" [ngClass]="{ 'is-invalid': showErrors && (!changePasswordForm.controls.confirmPassword.valid || changePasswordForm.hasError('mismatch'))}">
          					<div *ngIf="showErrors && !changePasswordForm.controls.confirmPassword.valid" class="invalid-feedback"> 
   								{{ attributes.confirmPassword }}
							</div>
							<div *ngIf="showErrors && changePasswordForm.controls.confirmPassword.valid" [hidden]="!changePasswordForm.hasError('mismatch')" class="invalid-feedback">
          						<span *ngIf="changePasswordForm.hasError('mismatch')">{{validationMessages.confirmPassword.mismatch}}
          						</span>
      						</div>
						</div>
        			</div>
        			<button type="submit" class="btn btn-primary btn-block">
        				<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        				Submit
    				</button>
        		</form>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>