<div class="container">
	<div class="row justify-content-center">
		<div class="col-xl-6 col-lg-8 col-md-5">
			<div class="card o-hidden border-0 shadow-lg my-5">
          		<div class="card-body p-0">
            		<div class="row">
              			<div class="col-lg-12">
              				<div class="p-5">
                  				<div class="text-center">
                  					<img src="assets/img/logo.png" alt="app-logo" class="logo">
                    				<h1 class="h4 text-gray-900 mb-4">Forgot Your Password?</h1>
                    				<p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
                  				</div>
	                  			<form class="" [formGroup]="forgotPasswordForm" (ngSubmit)="submit()" novalidate>
	                    			<div class="form-group">
	                      				<input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." formControlName="email" [ngClass]="{ 'is-invalid': showErrors && !forgotPasswordForm.controls.email.valid }">
	                      				<div *ngIf="showErrors && !forgotPasswordForm.controls.email.valid" class="invalid-feedback"> 
	               							{{ attributes.email }}
	            						</div>  
	                    			</div>
	                    			<button type="submit" class="btn btn-primary btn-block">
	                    				<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
	                    				Reset Password
                    				</button>
	                    		</form>
                  				<hr>
	                  			<div class="text-center">
	                    			<a class="small" routerLink="./../login">Already have an account? Login!</a>
	                  			</div>
	                  		</div>
              			</div>
            		</div>
          		</div>
        	</div>
		</div>
	</div>
</div>