<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">New Clinic Registration</h1>
  </div>
  <!-- Content Row -->
  <div class="row">
	<div class="col-xl-12 col-md-12 mb-4">
      <div class="card shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col ">
            	<form class="" [formGroup]="clientRegisterForm" (ngSubmit)="submit()" novalidate>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="clinic_name" placeholder="Clinic Name">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="first_name" placeholder="First Name">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="last_name" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="email" placeholder="Email Address">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="username" placeholder="Username">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="phone_number" placeholder="Phone Number">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="start_date" placeholder="Start Date">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="end_date" placeholder="End Date">
                  </div>
                </div>
                <div class="form-group">
                  <input type="textarea" class="form-control form-control-user" id="address" placeholder="Address">
                </div>
                
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="country_id" placeholder="Country">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="state_id" placeholder="State">
                  </div>
                </div>
                
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="exampleInputUsername" placeholder="City">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="exampleInputPhone" placeholder="Zip">
                  </div>
                </div>
                
                <div class="form-group">
                  <input style="border: groove;" type="text" class="form-control form-control-user" id="keyword" placeholder="Keyword">
                </div>
                
                <button type="submit" class="btn btn-primary btn-block">
										<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
										Register Account
								</button>
                <hr>
                <!--<a href="index.html" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> Register with Google
                </a>
                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                </a>-->
              </form> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>